*:after {
    box-sizing: border-box;
}

body {
    font: 300 15px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.7;
    width: 100%;
    background-color: #fff;
    color: #777;
}

.d-flex {
	display: flex;	
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-left {
    text-align: left;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
  
.wrapper_fix {
    display: flex;
}
  
.header,
.footer {
    width: 100%;
    flex-shrink: 1;
}
  
.main {
    flex-grow: 1;
    width: 100%;
}
  
h1 {
    color: #fff;
    font: 30px 'Dosis', Arial, Helvetica, sans-serif;
    letter-spacing: 1.7em;
    text-transform: uppercase;
}
  
h2 {
    color: #fff;
    font: 18px 'Dosis', Arial, Helvetica, sans-serif;
    letter-spacing: 1.5em;
    text-transform: uppercase;
}
  
img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
  
a {
    text-decoration: none;
    outline: none;
}
  
ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.standart-section {
	padding: 80px 0;
}

.col-4 {
    width: 33.3333%;
    padding: 0 15px;
    box-sizing: border-box;
}
  
.header {
    padding: 24px 0;
    position: relative;
    z-index: 2;
}
  
.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header_nav-list {
    display: flex;
    margin: 0 15px
}

.header_nav-item {
    padding: 0 15px;
}

.header_nav-link {
    color: #e7e7e7;
    font-size: 12px;
}
  
.hero {
    margin-top: -69px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
  
.hero_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.hero_content{
    padding-bottom: 100px;
    text-align: center;
}
  
.hero_text {
    color: #cfcfcf;
}

.catalog-studio {
    padding: 0 15px;
}

.about-hero {
    max-height: auto;
    max-width: auto;
}