@font-face {
font-family: 'icomoon';
src:  url('../fonts/icomoon.eot?t9ukji');
src:  url('../fonts/icomoon.eot?t9ukji#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t9ukji') format('truetype'),
    url('../fonts/icomoon.woff?t9ukji') format('woff'),
    url('../fonts/icomoon.svg?t9ukji#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'icomoon' !important;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
content: "\e900";
}
.icon-info:before {
content: "\e901";
}
.icon-caret-up:before {
content: "\e902";
}
.icon-angle-down:before {
content: "\e903";
}
.icon-camera:before {
content: "\e904";
}
.icon-chat:before {
content: "\e905";
}
.icon-clock:before {
content: "\e906";
}
.icon-desktop:before {
content: "\e907";
}
.icon-flag:before {
content: "\e908";
}
.icon-gears:before {
content: "\e909";
}
.icon-heart:before {
content: "\e90a";
}
.icon-hotairballoon:before {
content: "\e90b";
}
.icon-linegraph:before {
content: "\e90c";
}
.icon-quote:before {
content: "\e90d";
}
.icon-strategy:before {
content: "\e90e";
}
.icon-tools:before {
content: "\e90f";
}
.icon-phone:before {
content: "\e942";
}
.icon-location:before {
content: "\e947";
}
.icon-facebook:before {
content: "\ea90";
}
.icon-twitter:before {
content: "\ea96";
}
.icon-behance:before {
content: "\eaa8";
}
.icon-linkedin:before {
content: "\eaca";
}
.icon-pinterest:before {
content: "\ead1";
}

  

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font: 300 15px 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 1.7;
    width: 100%;
    background-color: #fff;
    color: #777;
}

.d-flex {
	display: flex;	
}

.justify-content-left{
    justify-content: left;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-left {
    text-align: left;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
}

.wrapper_fix {
    display: flex;
}

.header,
.footer {
    width: 100%;
    flex-shrink: 1;
}

.main {
    flex-grow: 1;
    width: 100%;
}

h1 {
    color: #fff;
    font: 30px 'Dosis', Arial, Helvetica, sans-serif;
    letter-spacing: 1.7em;
    text-transform: uppercase;
}

h2 {
    color: #000;
    font: 18px 'Dosis', Arial, Helvetica, sans-serif;
    letter-spacing: .5em;
    text-transform: uppercase;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

a {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

q:before,
q:after {
    display: none;
}

blockquote {
    font-size: 20px;
    margin: 0;
}

p {
    margin: 0;    
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding: 24px 0;
    position: relative;
    z-index: 2;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav-list {
    display: flex;
    margin: 0 15px
}

.header_nav-item {
    padding: 0 15px;
}

.header_nav-link {
    color: #e7e7e7;
    font-size: 12px;
}

.hero {
    margin-top: -69px;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero_down {
    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    z-index: 2;
}

.hero_down:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    transform: rotate(45deg);
    display: block;
}

.hero_down i {
    position: absolute;
    bottom: 0;
    color: #000;
    left: 50%;
    transform: translateX(-50%);
}

.hero_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_content {
    padding-bottom: 100px;
    text-align: center;
}

.hero_text {
    color: #d3d3d3;
    margin: 60px 0 0;
    font: 20px 'Dosis', Arial, Helvetica, sans-serif;
    letter-spacing: .1em;    
}

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

[class^="col"] {
    padding: 15px 15px;
}

.col--1-3 {
    width: calc(100% / 3);
}

.col--1-2 {
    width: 50%;
}

.name {
    margin-top: 20px;
    letter-spacing: 0.3em;
}

.title {
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.3em;
}

.section {
    padding: 135px 0;
}

.section_title {
    margin-bottom: 70px;
}

.section_title--alt {
    margin-bottom: 20px;
    color: #fff;
}

.section_title--iconed {
    position: relative;
    padding-top: 54px;
    line-height: 1;
    margin-bottom: 30px;
}

.section_title--iconed:before {
    content: '\e90d';
    font-family: 'icomoon';
    color: #fff;
    font-size: 34px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
}

.about-us_author {
    display: block;  
    font-size: 11px; 
    font-weight: 400; 
    text-transform: uppercase;
    margin-top: 20px; 
    font-style: normal;
}

.tabs_list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px; 
}

.tabs_list-service {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.tabs_list-item {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 5px;
}

li.tabs_list-item {
    width: 40%;
    align-items: center;
}

ul.tabs_list {
    align-items: flex-end;
}

.tabs_link {
    transition: opacity .3s ease;
    font: 14px 'Dosis', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: .04em;
    text-transform: uppercase;
    opacity: 0.5;
}

.tabs_link.tab-active {
    opacity: 1;
}

.tabs_content-item:not(.tab-active) {
    display: none;
}

.exclusive {
    min-height: 445px;
    background-color: #000;
    color: #fff;
    padding: 0;
}

.start-project {
    min-height: 210px;
    background-color: #000;
    color: #fff;
    padding: 0;
}

.exclusive_container {
    position: relative;
    padding-top: 135px;
    padding-bottom: 135px;
}

.start-project_container {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
}

.exclusive_row {
    align-items: center;
}

.start-project_row {
    align-items: center;
}

.exclusive p {
    margin: 0;
}

.exclusive p:last-of-type {
    margin-bottom: 30px;
}

.exclusive_img {
    position: absolute;
    top: -30px;
    right: 15px;
}

.btn_base {
    transition: background-color .3s ease;
    color: #000;
    min-height: 40px;
    min-width: 170px;
    padding: 2px 5px;
    background-color: #cfcfcf;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.btn_base:hover {
    background-color: #777;
}

@media (max-width: 1179px) {
    
    .exclusive_img {
        max-width: calc(50% - 60px);
    }

}

.portfolio_text {
    color: #000;
    display: flex;
    text-align: center;
    margin: 0 230px 80px;
}

.tabs_list-item-portfolio {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 5px;
}

li.tabs_list-item-portfolio {
    width: 10%;
    align-items: center;
}

.col-1-3-1 {
    width: calc(100%/3);
    padding: 10px 5px;    
}

.style_img {
    margin-top: 10px;
}

.container-portfolio {
    width: 100%;
    /*max-width: 1200px;*/
    margin: 0 auto;
    padding: 0 15px;
}

.section_portfolio {
    padding: 135px 0 0;
}

/* benefits styles */

.benefits_block {
    text-align: center;
    margin-bottom: 70px;
}

.benefits_block i {
    font-size: 50px;
    color: #111;
    margin-bottom: 30px;
    display: block;
}

.benefits_title {
    margin-bottom: 24px;
    color: #111;
    font: 14px 'Dosis', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.benefits_text {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    text-align: left;
}

/* testimonials styles */

.testimonials {
    background-color: #000;
    padding: 130px 0 30px;
    position: relative;
}

.slick-dots {
    margin: 10 auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li.slick-active button {
    background-color: transparent;
}

.slick-dots button {
    transition: background-color .3s ease;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: block;
    margin: 0 3px;
    padding: 0;
    outline: none;
    font-size: 0;
    text-indent: -999px;
    overflow: hidden;
}

.testimonials_arrow {
    transition: opacity .3s ease;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background:none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.testimonials_arrow i {
    transform-origin: center center;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    left: 40px;
    color: #000;
    font-size: 16px;
}

.testimonials_arrow:hover {
    opacity: 0.7;
}

.testimonials_arrow:before {
    content: '';
    background-color: #fff;
    width: 60px;
    height: 60px;
    transform-origin: center center; /*прокрутка объекта относительно себя по центру*/
    transform: rotate(45deg);
    display: block;
}

.testimonials_arrow.testimonials_next {
    left: auto;
    right: -30px;
}

.testimonials_arrow.testimonials_next i {
    left: auto;
    right: 40px;
    transform: translateY(-50%) rotate(-90deg);
}

.testimonial {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 190px;
}

.testimonial_text {
    color: rgba(255, 255, 255,.75);
    font-size: 18px;
}

.testimonial_author {
    color: rgba(255, 255, 255,.3);
    display: block;  
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1;
    margin-top: 20px;
    font-style: normal;  
}

/* Latest news */

.preview_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 20px 0 30px
}

.preview_title-blog {
    transition: opacity .3s ease;
    font: 12px 'Dosis', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: .4em;
    text-transform: uppercase;
    opacity: 0.5;
}

.article_title {
    transition: opacity .3s ease;
    font: 16px 'Dosis', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: .4em;
    text-transform: uppercase;
    opacity: 0.5;
    padding-bottom: 10px;
    padding-top: 20px;
}

.article_title-date,
.article_title-author {
    transition: opacity .3s ease;
    font: 12px 'Dosis', Arial, Helvetica, sans-serif;
    color: #000;
    letter-spacing: .7em;
    text-transform: uppercase;
    opacity: 0.5;
    border-left: 2px solid grey;
    padding-left: 10px;
}

.article_title-author {
    border-left: none;
    padding-left: 0;
}

.article-text {
    padding-bottom: 40px;
}

.news-post{
    padding-bottom: 20px;
}

/* footer styles */

.mountains {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 20px;
}

.social_networks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;  
    position: relative; 
    margin-top: 20px;
}

.social_networks-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.social_networks-item {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 10px;
    position: relative;
}

.social_networks-item-i {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 0 10px;
    position: absolute;
    margin-bottom: 10px;
    top: 29%; 
    left: 5px;
    color: #000;
    font-size: 16px;
}

.social_networks-down {
    position: absolute;   
    width: 30px;
    height: 30px;
    z-index: 2;
    position: relative;
}

.social_networks-down:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    transform: rotate(45deg);
    display: block;
    border: 1px solid #000;
}

.copyright-title {
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 20px;
    letter-spacing: 0.5em;
    color: #000;
    font: 14px 'Dosis', Arial, Helvetica, sans-serif;
}

.copyright-item {
    margin-bottom: 15px;   
    font: 14px 'Dosis', Arial, Helvetica, sans-serif;
} 

.button-home-i {
    display: flex;
    justify-content: flex-end;
}

.button-home-down {
    font-size: 40px;
    color: #c6c6c6;
}